absl-py==2.1.0
blinker==1.8.2
branca==0.7.2
click==8.1.7
click-plugins==1.1.1
cligj==0.7.2
contourpy==1.2.1
cycler==0.12.1
fiona==1.9.6
Flask==3.0.3
folium==0.17.0
fonttools==4.53.1
geopandas==0.14.4
immutabledict==4.2.0
itsdangerous==2.2.0
kiwisolver==1.4.5
matplotlib==3.9.2
networkx==3.3
numpy==1.26.4
ortools==9.10.4067
osmnx==1.9.4
pandas==2.2.2
pillow==10.4.0
plotly==5.23.0
protobuf==5.27.3
pyparsing==3.1.2
pyproj==3.6.1
pytz==2024.1
seaborn==0.13.2
shapely==2.0.6
tenacity==9.0.0
tzdata==2024.1
Werkzeug==3.0.4
xyzservices==2024.6.0