<!DOCTYPE html>
<html>
<head>
    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.0/css/all.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_313964d99151096c9955068c86c46345 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
                .leaflet-container { font-size: 1rem; }
            </style>
        
</head>
<body>
    
    
            <div class="folium-map" id="map_313964d99151096c9955068c86c46345" ></div>
        
</body>
<script>
    
    
            var map_313964d99151096c9955068c86c46345 = L.map(
                "map_313964d99151096c9955068c86c46345",
                {
                    center: [50.0869808355617, 14.420696466020118],
                    crs: L.CRS.EPSG3857,
                    zoom: 16,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_36e9a606a6a42b08dc21ad1d1d281596 = L.tileLayer(
                "https://tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "\u0026copy; \u003ca href=\"https://www.openstreetmap.org/copyright\"\u003eOpenStreetMap\u003c/a\u003e contributors", "detectRetina": false, "maxNativeZoom": 19, "maxZoom": 19, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            );
        
    
            tile_layer_36e9a606a6a42b08dc21ad1d1d281596.addTo(map_313964d99151096c9955068c86c46345);
        
    
            var marker_36e21f1174f910cbb77d786881fd4433 = L.marker(
                [50.08755474796508, 14.423318842912195],
                {}
            ).addTo(map_313964d99151096c9955068c86c46345);
        
    
            var icon_d0efc3778105ba40f4a1cf94e940c1c2 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "bicycle", "iconColor": "white", "markerColor": "red", "prefix": "fa"}
            );
            marker_36e21f1174f910cbb77d786881fd4433.setIcon(icon_d0efc3778105ba40f4a1cf94e940c1c2);
        
    
            var marker_d155cb58689357f874bf2e609d879f0e = L.marker(
                [50.090322944037986, 14.42162471740614],
                {}
            ).addTo(map_313964d99151096c9955068c86c46345);
        
    
            var icon_5ecd02e68056a16f21e810e1d85b9a5a = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "heart", "iconColor": "white", "markerColor": "red", "prefix": "fa"}
            );
            marker_d155cb58689357f874bf2e609d879f0e.setIcon(icon_5ecd02e68056a16f21e810e1d85b9a5a);
        
    
            var marker_ceeefea5e4e4703bdf1a23b459bdc812 = L.marker(
                [50.08441631969368, 14.428302542337063],
                {}
            ).addTo(map_313964d99151096c9955068c86c46345);
        
    
            var icon_7715a07c391958529a3664ec0cc2ba2c = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "phone", "iconColor": "white", "markerColor": "red", "prefix": "fa"}
            );
            marker_ceeefea5e4e4703bdf1a23b459bdc812.setIcon(icon_7715a07c391958529a3664ec0cc2ba2c);
        
    
            var marker_6b27eba6743af232f06f27be7b758dc0 = L.marker(
                [50.081328739825466, 14.41321606932961],
                {}
            ).addTo(map_313964d99151096c9955068c86c46345);
        
    
            var icon_376cdb2e5962f5ce08ca9fc2992ffe44 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "masks-theater", "iconColor": "white", "markerColor": "red", "prefix": "fa"}
            );
            marker_6b27eba6743af232f06f27be7b758dc0.setIcon(icon_376cdb2e5962f5ce08ca9fc2992ffe44);
        
</script>
</html>