<!DOCTYPE html>
<html>
<head>
    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.0/css/all.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_2ae822b5d99ca88e2b37436dee04fb0d {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
                .leaflet-container { font-size: 1rem; }
            </style>
        
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.1.0/leaflet.markercluster.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.1.0/MarkerCluster.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.1.0/MarkerCluster.Default.css"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet-locatecontrol/0.66.2/L.Control.Locate.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet-locatecontrol/0.66.2/L.Control.Locate.min.css"/>
</head>
<body>
    
    
            <div class="folium-map" id="map_2ae822b5d99ca88e2b37436dee04fb0d" ></div>
        
</body>
<script>
    
    
            var map_2ae822b5d99ca88e2b37436dee04fb0d = L.map(
                "map_2ae822b5d99ca88e2b37436dee04fb0d",
                {
                    center: [50.10757904960116, 14.420951629813585],
                    crs: L.CRS.EPSG3857,
                    zoom: 16,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_562a33f6e3014e85d53de0cf76bde60a = L.tileLayer(
                "https://tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "\u0026copy; \u003ca href=\"https://www.openstreetmap.org/copyright\"\u003eOpenStreetMap\u003c/a\u003e contributors", "detectRetina": false, "maxNativeZoom": 19, "maxZoom": 19, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            );
        
    
            tile_layer_562a33f6e3014e85d53de0cf76bde60a.addTo(map_2ae822b5d99ca88e2b37436dee04fb0d);
        
    
            var marker_cluster_21823f81a5b38a0f35c0b5b57b5570d0 = L.markerClusterGroup(
                {}
            );
        
    
            var marker_5d017aec49e80590a96153236f2bef65 = L.marker(
                [50.10544963658487, 14.427315231276873],
                {}
            ).addTo(marker_cluster_21823f81a5b38a0f35c0b5b57b5570d0);
        
    
            var icon_64b92fb79081c0b53427b39dce8ae912 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "bicycle", "iconColor": "white", "markerColor": "red", "prefix": "fa"}
            );
            marker_5d017aec49e80590a96153236f2bef65.setIcon(icon_64b92fb79081c0b53427b39dce8ae912);
        
    
        var popup_df4a162b7df7dce77294338b2fe7d14d = L.popup({"maxWidth": 300});

        
            
                var html_05ff668c44676e353594e1c008bf4859 = $(`<div id="html_05ff668c44676e353594e1c008bf4859" style="width: 100.0%; height: 100.0%;">Planetarium</div>`)[0];
                popup_df4a162b7df7dce77294338b2fe7d14d.setContent(html_05ff668c44676e353594e1c008bf4859);
            
        

        marker_5d017aec49e80590a96153236f2bef65.bindPopup(popup_df4a162b7df7dce77294338b2fe7d14d)
        ;

        
    
    
            var marker_d85a0750c3286e2b0e3244719877c8b6 = L.marker(
                [50.10831045673811, 14.424126005952495],
                {}
            ).addTo(marker_cluster_21823f81a5b38a0f35c0b5b57b5570d0);
        
    
            var icon_4e0ed5e941b35b752c22ac484c0ef5e9 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "heart", "iconColor": "white", "markerColor": "red", "prefix": "fa"}
            );
            marker_d85a0750c3286e2b0e3244719877c8b6.setIcon(icon_4e0ed5e941b35b752c22ac484c0ef5e9);
        
    
        var popup_83728f9b18257698ce3201b6aa8c8ea2 = L.popup({"maxWidth": 300});

        
            
                var html_67f4743d795ad0fd299a1bb08278f3aa = $(`<div id="html_67f4743d795ad0fd299a1bb08278f3aa" style="width: 100.0%; height: 100.0%;">Playground</div>`)[0];
                popup_83728f9b18257698ce3201b6aa8c8ea2.setContent(html_67f4743d795ad0fd299a1bb08278f3aa);
            
        

        marker_d85a0750c3286e2b0e3244719877c8b6.bindPopup(popup_83728f9b18257698ce3201b6aa8c8ea2)
        ;

        
    
    
            var marker_9778d14561f21cb36f44ca2cb30f4859 = L.marker(
                [50.10965658330681, 14.420232509911955],
                {}
            ).addTo(marker_cluster_21823f81a5b38a0f35c0b5b57b5570d0);
        
    
            var icon_af604b7405e19e4115911323dcff0421 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "phone", "iconColor": "white", "markerColor": "red", "prefix": "fa"}
            );
            marker_9778d14561f21cb36f44ca2cb30f4859.setIcon(icon_af604b7405e19e4115911323dcff0421);
        
    
        var popup_208f258e0ccba5d1fe4c79490fe274a2 = L.popup({"maxWidth": 300});

        
            
                var html_bde4e4643d0d63c9e8fdcaf9f750cbe0 = $(`<div id="html_bde4e4643d0d63c9e8fdcaf9f750cbe0" style="width: 100.0%; height: 100.0%;">Tenis</div>`)[0];
                popup_208f258e0ccba5d1fe4c79490fe274a2.setContent(html_bde4e4643d0d63c9e8fdcaf9f750cbe0);
            
        

        marker_9778d14561f21cb36f44ca2cb30f4859.bindPopup(popup_208f258e0ccba5d1fe4c79490fe274a2)
        ;

        
    
    
            var marker_9034f5a85c1cd1f4bc93a2b9add2d359 = L.marker(
                [50.110355321102915, 14.413503010582618],
                {}
            ).addTo(marker_cluster_21823f81a5b38a0f35c0b5b57b5570d0);
        
    
            var icon_461b275ae6fc2e752adbb22c33d8f025 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "masks-theater", "iconColor": "white", "markerColor": "red", "prefix": "fa"}
            );
            marker_9034f5a85c1cd1f4bc93a2b9add2d359.setIcon(icon_461b275ae6fc2e752adbb22c33d8f025);
        
    
        var popup_94b708289fc2395e243c3824e261891b = L.popup({"maxWidth": 300});

        
            
                var html_fccce35a13d7ae0bf415fe4cc041344a = $(`<div id="html_fccce35a13d7ae0bf415fe4cc041344a" style="width: 100.0%; height: 100.0%;">Waterfall</div>`)[0];
                popup_94b708289fc2395e243c3824e261891b.setContent(html_fccce35a13d7ae0bf415fe4cc041344a);
            
        

        marker_9034f5a85c1cd1f4bc93a2b9add2d359.bindPopup(popup_94b708289fc2395e243c3824e261891b)
        ;

        
    
    
            var marker_2e4e20f9a4a66282eaefe4181cbc99ed = L.marker(
                [50.10812548984484, 14.412958241589292],
                {}
            ).addTo(marker_cluster_21823f81a5b38a0f35c0b5b57b5570d0);
        
    
            var icon_133c822188accf82cd52b2265b83e1bb = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "bicycle", "iconColor": "white", "markerColor": "red", "prefix": "fa"}
            );
            marker_2e4e20f9a4a66282eaefe4181cbc99ed.setIcon(icon_133c822188accf82cd52b2265b83e1bb);
        
    
        var popup_c51925f8563814f06463ab55b0281b83 = L.popup({"maxWidth": 300});

        
            
                var html_b63c9256452096c6a3913357472b2c68 = $(`<div id="html_b63c9256452096c6a3913357472b2c68" style="width: 100.0%; height: 100.0%;">Bench</div>`)[0];
                popup_c51925f8563814f06463ab55b0281b83.setContent(html_b63c9256452096c6a3913357472b2c68);
            
        

        marker_2e4e20f9a4a66282eaefe4181cbc99ed.bindPopup(popup_c51925f8563814f06463ab55b0281b83)
        ;

        
    
    
            var marker_4f1a2c19f9db0071161799979e532f09 = L.marker(
                [50.106058787595565, 14.410833563743788],
                {}
            ).addTo(marker_cluster_21823f81a5b38a0f35c0b5b57b5570d0);
        
    
            var icon_a221ba956c397df7288b243a4df2264c = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "heart", "iconColor": "white", "markerColor": "red", "prefix": "fa"}
            );
            marker_4f1a2c19f9db0071161799979e532f09.setIcon(icon_a221ba956c397df7288b243a4df2264c);
        
    
        var popup_6ba3fe9bc14acbc888076819a14d57b6 = L.popup({"maxWidth": 300});

        
            
                var html_a3f88c37184d9adb8482b2a7db8d3868 = $(`<div id="html_a3f88c37184d9adb8482b2a7db8d3868" style="width: 100.0%; height: 100.0%;">Turnik</div>`)[0];
                popup_6ba3fe9bc14acbc888076819a14d57b6.setContent(html_a3f88c37184d9adb8482b2a7db8d3868);
            
        

        marker_4f1a2c19f9db0071161799979e532f09.bindPopup(popup_6ba3fe9bc14acbc888076819a14d57b6)
        ;

        
    
    
            var marker_6cf33b009631a69df4bf5cc7b07f011c = L.marker(
                [50.105211210875616, 14.415743779890281],
                {}
            ).addTo(marker_cluster_21823f81a5b38a0f35c0b5b57b5570d0);
        
    
            var icon_47dae05878fd6e1de19fbe915cb0e5fb = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "phone", "iconColor": "white", "markerColor": "red", "prefix": "fa"}
            );
            marker_6cf33b009631a69df4bf5cc7b07f011c.setIcon(icon_47dae05878fd6e1de19fbe915cb0e5fb);
        
    
        var popup_a1d3365083c78a467a0b5250171e02ba = L.popup({"maxWidth": 300});

        
            
                var html_75f7b1938f528aeb7594bd38ca902602 = $(`<div id="html_75f7b1938f528aeb7594bd38ca902602" style="width: 100.0%; height: 100.0%;">Restaurant</div>`)[0];
                popup_a1d3365083c78a467a0b5250171e02ba.setContent(html_75f7b1938f528aeb7594bd38ca902602);
            
        

        marker_6cf33b009631a69df4bf5cc7b07f011c.bindPopup(popup_a1d3365083c78a467a0b5250171e02ba)
        ;

        
    
    
            marker_cluster_21823f81a5b38a0f35c0b5b57b5570d0.addTo(map_2ae822b5d99ca88e2b37436dee04fb0d);
        
    
            var locate_control_09dc99135b76ebd2df0166e264a93fd9 = L.control.locate(
                {}
            ).addTo(map_2ae822b5d99ca88e2b37436dee04fb0d);
            
        
</script>
</html>